.l_o {
  text-align: center;
  background-color: aqua;
  margin: 0;
  padding-bottom: 40px;
  border: 5px solid red;
  margin-bottom: 20px;
}
.L_form {
  background-color: aqua;
  text-align: center;
  margin: 20px;
  border: 5px solid red;
  margin-left: 0;
  margin-right: 0;
}
.p_L {
  margin: 0;
}
.ad {
  background-color: rgb(217, 115, 215);
  margin: 0;
}
.shablon{
  margin-left: 50px;
}
.shablon_1{
  margin-left: 20px;

}
.ad_1{
  margin-left: 20px;
}
.shablon_0{
  border-top: 2px solid black;
  background-color: lightblue;
}
button{
  display: inline;
}